.delete-btn {
  position: absolute;
  top: 10px;
  right: 0;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  background-color: transparent;
  border: 0 solid;
  padding-right: 8px;
}

.delete-btn:hover {
  color: #000;
  opacity: 0.4;
}

.sprint-list {
  margin: 5px;
}
