.point {
  margin: 0.8rem 0 0.8rem 0;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  background-color: transparent;
  border: 0 solid;
  padding-right: 8px;
}

.delete-btn:hover {
  color: #000;
  opacity: 0.4;
}

.like-btn {
  opacity: 0.5;
}

.like-btn:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.badge {
  padding: 0.375rem 0.75rem;
}

.card-body {
  padding: 1.8rem 0 0 0;
}

.card-text {
  bottom: 0;
  padding: 0.5rem;
  float: right !important;
}

.card-title {
  margin-bottom: 0;
}

.textarea {
  border: transparent;
  background-color: transparent;
}

@media print {
  .textarea {
    border: 0 solid;
  }
  .delete-btn {
    display: none !important;
  }
}
